// this is a UTF-8 file
#pragma code_page(65001)

// this is the Common Controls 6 manifest
// 1 is the value of CREATEPROCESS_MANIFEST_RESOURCE_ID and 24 is the value of RT_MANIFEST
#define CREATEPROCESS_MANIFEST_RESOURCE_ID 1
#define RT_MANIFEST 24
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "launcher.manifest"

icon ICON "launcher.ico"

#include "winver.h"

#define FULLVERSION_STRING "0.1.0-SNAPSHOT"

VS_VERSION_INFO     VERSIONINFO
    FILEVERSION     1,0,0,0
    PRODUCTVERSION  1,0,0,0
    // FILETYPE        VFT_APP
    FILEFLAGS       VS_FF_DEBUG
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904E4"
        {
            VALUE "Comments",           "Simple application launcher"
            VALUE "CompanyName",        "launcher Company"
            VALUE "FileDescription",    "launcher file Description"
            VALUE "FileVersion",        FULLVERSION_STRING
            VALUE "InternalName",       "launcher"
            VALUE "LegalCopyright",     "Copyright (C) 2023"
            VALUE "LegalTrademarks",    "NONE (by now)"
            VALUE "OriginalFilename",   "launcher"
            VALUE "ProductName",        "Simple launcher"
            VALUE "ProductVersion",     FULLVERSION_STRING
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0409, 0x4E4
    }
}